/* Estilos generales del cuerpo */
body {
    background-color: #011826; /* Fondo negro */
    color: whitesmoke; /* Texto blanco */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Contenedor para diseño de cuadrícula */
.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columnas iguales */
    gap: 10px;
    padding: 10px;
    height: 100%;
    box-sizing: border-box; /* Incluir padding y border en el tamaño total */
}

/* Estilos del encabezado */
.header {
    grid-column: span 7; /* Ocupa las 7 columnas */
    background-color: #224459; /* Fondo del rectángulo */
    height: 300px; /* Altura del rectángulo */
}

/* Estilos del título */
.title {
    grid-column: 2 / span 5; /* Ocupa las 5 columnas del centro */
    text-align: center; /* Centrar el texto */
    color: #C2E0F2; /* Color del texto */
    font-size: 3em; /* Tamaño del texto */
    font-weight: Light; /* Texto en Ligth */
    text-transform: uppercase; /* Texto en mayúsculas */
    margin: 20px 0; /* Márgenes superior e inferior */
}

/* Estilos de la introducción */
.intro {
    grid-column: 3 / span 3; /* Ocupa las 3 columnas del centro */
    text-align: center; /* Centrar el texto */
    color: white; /* Color del texto */
    font-size: 1.5em; /* Tamaño del texto */
    font-weight: Light; /* Texto en Ligth */
    margin: 10px 0; /* Márgenes superior e inferior */
}

/* Estilos del gráfico */
.chart-title {
    grid-column: 3 / span 3; /* Ocupa las 3 columnas del centro */
    text-align: center; /* Centrar el texto */
    color: white; /* Color del texto */
    font-size: 1em; /* Tamaño del texto */
    font-weight: medium; /* Texto en medio */
    margin: 10px 0; /* Márgenes superior e inferior */
}

.chart-description {
    grid-column: 3 / span 3; /* Ocupa las 3 columnas del centro */
    text-align: center; /* Centrar el texto */
    color: white; /* Color del texto */
    font-size: 1em; /* Tamaño del texto */
    font-weight: medium; /* Texto en medio */
    margin: 5px 0; /* Márgenes superior e inferior */
}

.chart-container {
    grid-column: 3 / span 3; /* Ocupa las 3 columnas del centro */
    text-align: center; /* Centrar el texto */
    margin: 10px 0; /* Márgenes superior e inferior */
}

/* Estilos del texto adicional */
.additional-text {
    grid-column: 3 / span 3; /* Ocupa las 3 columnas del centro */
    text-align: center; /* Centrar el texto */
    color: white; /* Color del texto */
    font-size: 1em; /* Tamaño del texto */
    font-weight: regular; /* Texto regular */
    margin: 10px 0; /* Márgenes superior e inferior */
}

/* Estilos del pie de página */
.footer {
    grid-column: span 7; /* Ocupa las 7 columnas */
    text-align: center; /* Centrar el texto */
    color: white; /* Color del texto */
    font-size: 0.5em; /* Tamaño del texto */
    margin-top: auto; /* Empujar el footer hacia abajo */
    padding: 10px; /* Padding interno */
}
