/* Estilos generales del cuerpo */
body {
    background-color: #011826; /* Fondo negro */
    color: whitesmoke; /* Texto blanco */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Contenedor principal */
.container {
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /* Incluir padding y border en el tamaño total */
}

/* Estilos del encabezado */
.header {
    background-color: #224459; /* Fondo del rectángulo */
    height: 400px; /* Altura del rectángulo */
    width: 100%;
}

/* Estilos del título */
.title {
    text-align: center; /* Centrar el texto */
    color: #C2E0F2; /* Color del texto */
    font-size: 3em; /* Tamaño del texto */
    font-weight: 300; /* Texto en Light */
    text-transform: uppercase; /* Texto en mayúsculas */
    margin: 20px 0; /* Márgenes superior e inferior */
}

/* Estilos de la introducción */
.intro {
    text-align: center; /* Centrar el texto */
    color: white; /* Color del texto */
    font-size: 1.5em; /* Tamaño del texto */
    font-weight: 300; /* Texto en Light */
    margin: 5px 0; /* Márgenes superior e inferior */
}

/* Estilos del gráfico */
.chart-title {
    text-align: left; /* Texto a la izquierda */
    color: white; /* Color del texto */
    font-size: 1em; /* Tamaño del texto */
    font-weight: 500; /* Texto en medio */
    text-transform: uppercase; /* Texto en mayúsculas */
    margin: 5px 0; /* Márgenes superior e inferior */
}

.chart-description {
    text-align: left; /* Texto a la izquierda */
    color: white; /* Color del texto */
    font-size: 1em; /* Tamaño del texto */
    font-weight: 500; /* Texto en medio */
    margin: 5px 0; /* Márgenes superior e inferior */
}

.chart-container, .additional-chart-container {
    text-align: center; /* Centrar el texto */
    margin: 10px 0; /* Márgenes superior e inferior */
}

/* Estilos del texto adicional */
.additional-text {
    text-align: left; /* Texto a la izquierda */
    color: white; /* Color del texto */
    font-size: 1em; /* Tamaño del texto */
    font-weight: 400; /* Texto regular */
    margin: 5px 0; /* Márgenes superior e inferior */
}

/* Estilos del pie de página */
.footer {
    text-align: center; /* Centrar el texto */
    color: white; /* Color del texto */
    font-size: 0.5em; /* Tamaño del texto */
    margin-top: auto; /* Empujar el footer hacia abajo */
    padding: 10px; /* Padding interno */
}

/* Responsive grid para desktop */
@media (min-width: 1024px) {
    .container {
        max-width: 1440px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
    }

    .header {
        grid-column: 4 / span 6; /* Ocupa las 6 columnas centrales */
    }

    .intro, .additional-text {
        grid-column: 4 / span 6; /* Ocupa las 6 columnas centrales */
    }

    .chart-title, .chart-description, .chart-container, .additional-chart-container {
        grid-column: 4 / span 6; /* Ocupa las 6 columnas centrales */
    }

    .footer {
        grid-column: span 12;
    }
}

/* Responsive grid para tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 780px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
    }

    .header {
        grid-column: 1 / span 6; /* Ocupa las 6 columnas */
    }

    .intro, .additional-text {
        grid-column: 1 / span 6; /* Ocupa las 6 columnas */
    }

    .chart-title, .chart-description, .chart-container, .additional-chart-container {
        grid-column: 1 / span 6; /* Ocupa las 6 columnas */
    }

    .footer {
        grid-column: span 6;
    }
}

/* Responsive grid para mobile */
@media (max-width: 767px) {
    .container {
        max-width: 320px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .header {
        grid-column: span 2; /* Ocupa las 2 columnas */
    }

    .intro, .additional-text {
        grid-column: span 2; /* Ocupa las 2 columnas */
    }

    .chart-title, .chart-description, .chart-container, .additional-chart-container {
        grid-column: span 2; /* Ocupa las 2 columnas */
    }

    .footer {
        grid-column: span 2;
    }
}
